<mat-toolbar color="primary" class="top-toolbar">
  <mat-toolbar-row>
      <app-menu-button></app-menu-button>
    <span>Projekt</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon aria-label="Mehr">more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<form class="form-container">
  <div class="form-content">
    <mat-form-field class="full-width">
      <input matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="Favorite food">
        <!--mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option-->
        <mat-option>Text</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox>Inaktiv</mat-checkbox>
  </div>
  <div class="form-footer">
      <button mat-raised-button color="warn">Löschen</button>
      <span class="spacer"></span>
      <button mat-raised-button color="primary">Speichern</button>
      <button mat-raised-button>Abbrechen</button>
  </div>
</form>