<mat-toolbar color="primary" class="top-toolbar">
  <mat-toolbar-row>
    <button mat-icon-button class="hide-large menu" (click)="sidenavService.open()">
      <mat-icon aria-label="Menü">menu</mat-icon>
    </button>
    <span>Benutzer</span>
    <span class="spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<!--
<a [routerLink]="'/'">Go To Home</a>
<a [routerLink]="['/user/',2]">User 2</a>

<ul>
  <li *ngFor="let user of users" [routerLink]="['/user', user.id]">
    <span>{{user.id}}</span> {{user.name}}
  </li>
</ul>
-->
<div class="filter-container">
  <div class="form-content">
    <mat-form-field class="search-box" class="full-width">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!--a mat-raised-button routerLink="/user/0" color="primary">Neu</a-->
  </div>
</div>

<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>First name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email" class="hide-small">
    <mat-header-cell *matHeaderCellDef mat-sort-header>E-Mail</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-ripple *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/user', row.id]"></mat-row>
</mat-table>
<div class="fab-spacer"></div>

<button mat-fab routerLink="/user/0">
  <mat-icon aria-label="Add user">add</mat-icon>
</button>