<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav fixedInViewport="true" fixedTopGap="true" fixedBottomGap="true" fullscreen [mode]="mode"
    [opened]="opened">
    <mat-toolbar class="hide-large">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenavService.close()">
          <mat-icon aria-label="Hide menu">arrow_back</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>