mat-sidenav.mat-drawer {
    border: none;
    box-shadow: -2px 0px 7px 4px rgba(0, 0, 0, 0.50);
    box-shadow: -2px 0px 10px 4px rgba(0, 0, 0, 0.20);
    width: 180px;
}

mat-sidenav-container {
    position: fixed;
    height: 100%;
    //min-height: 100%;
    width: 100%;
    //min-width: 100%;
 }