/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "/theme.scss";
body {
    margin: 0
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.spacer {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

div.page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;    

    h2 {
        text-transform: uppercase;
        color: #aaa;
    }
}
/*
div.page-content { 
    flex: 1;    

    display: flex;
    flex-flow: row wrap;
    
}

div.page-container {
    margin: 24px;
}
*/

div.page-content {    
    //display: flex;
    flex: 1;
    width: calc(100% - 48px);
    //margin: 2em auto;
    column-count: 1;
    column-gap: 24px;
    padding: 0 24px;
}

div.page-container {
    /*height: 200px;*/
    margin-top: 24px;            
    -webkit-column-break-inside: avoid;    
    page-break-inside: avoid;
    break-inside: avoid;
    display: inline-block;
    width: 100%;
}

@media (min-width: 1000px) {
    div.page-content {
        //width: calc(50% - 48px);
        column-count: 2;
    }
}

div.page-footer {
    position: relative;
    display: flex;
    margin: 10px;
}

div.page-footer button {
    margin: 10px;
}

.form-container {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

.form-content {
    margin: 24px;
    flex: 1;
}

.form-footer button {
    margin: 10px;
}

.filter-container {
    /*display: flex;*/
    width: 100%;
}

button.menu {
    margin-right: 24px;
}

mat-table mat-row.mat-row {
    cursor: pointer;
    /*
box-shadow:  0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
            0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
            0px 3px 14px 2px rgba(0, 0, 0, 0.12);*/
}

a.mat-raised-button,
button.mat-raised-button {
    min-width: 100px;
}

mat-row.mat-row {
    outline: none !important;
}

@media (min-width: 600px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width: 599px) {
    .hide-small {
        display: none !important;
    }
}

mat-toolbar.top-toolbar {
    position: sticky;
    top: 0;
    /* Sets the sticky toolbar to be on top */
    z-index: 100;
    /* Ensure that your app's content doesn't overlap the toolbar */
}