/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "/theme.scss";


body {
    margin: 0
}

.spacer {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.form-container {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

.form-content {
    margin: 20px;
}

.form-footer {
    display: flex;
    margin: 10px;
}

.form-footer button {
    margin: 10px;
}

button.menu {
 margin-right: 20px;
}

@media (min-width: 600px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width: 599px) {
    .hide-small {
        display: none !important;
    }
}