/* You can add global styles to this file, and also import other style files */

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "/theme.scss";
body {
    margin: 0
}

.spacer {
    flex: 1 1 auto;
}

.full-width {
    width: 100%;
}

.form-container {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

.form-content {
    margin: 20px;
}

.form-footer {
    display: flex;
    margin: 10px;
}

.form-footer button {
    margin: 10px;
}

.filter-container {
    /*display: flex;*/
    width: 100%;
}

button.menu {
    margin-right: 20px;
}

mat-table mat-row.mat-row {
    cursor: pointer;
    /*
box-shadow:  0px 5px 5px -3px rgba(0, 0, 0, 0.2), 
            0px 8px 10px 1px rgba(0, 0, 0, 0.14), 
            0px 3px 14px 2px rgba(0, 0, 0, 0.12);*/
}

a.mat-raised-button,
button.mat-raised-button {
    min-width: 100px;
}

mat-row.mat-row  {
  outline: none !important;
}

@media (min-width: 600px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width: 599px) {
    .hide-small {
        display: none !important;
    }
}
